body {
    background-color: #66A3B3;
    /* background-color: #FFE1C4; */
    /* background-color: #C4F3FF; */
    /* background-color: #FFDAB8; */
}

.sub-title {
    margin: 2rem;
}

.space {
    height: 40px;
}