.sub-title {
    margin: 2rem;
}

.search-container {
    margin: 0 auto 8rem auto;
    width: 80%;
}

.display {
    width: 85%;
    margin: 2rem auto 0 auto;
}

.display2 {
    width: 95%;
    margin: 2rem auto 0 auto;
}