.book-cell {
    margin: 30px;
}

.book-details {
  background-color: #C4F3FF;
  border-radius: 10px;
}

.book-text {
  padding: 1rem;
}

.thumbnail {
  height: 100%; 
  width: auto;
}

/* Button only */
.button-remove {
  margin-top: .5rem;
  border: 0;
  border-radius: 5000px;
  padding: .8rem 1.6rem;
  position: relative;
  left: 0;
  top: .8rem;
  overflow: hidden;
  font-size: .7rem;
  letter-spacing: 1px;
  transition: all 0.35s ease;
  background-color: #C4F3FF;
  color: #141414;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  }
  
  .button-remove:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .button-remove:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: '';
    border-radius: inherit;
  }
  
  .button-remove:hover,
  .button-remove:focus {
    background-color: #66A3B3;
  }
  
  .button-remove:hover:before,
  .button-remove:focus:before {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0.25;
  }